body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }
  header h1.logo {
    margin: 0;
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  /*
   * Centering the body content
   */
  .container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  form label {
    font-size: 18px;
  }
  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  label {
      margin-bottom: 30px;
  }
  input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  h1 {
    font-size: 3.5em;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    letter-spacing: -2px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-top: 10px;
    box-shadow: 0px 7px #4CAF50;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  input {
      margin-left: 80px;
  }
  .menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #444;
    text-decoration: none;
  }